<div class="cont">
  <div class="homeContainer">
    <div class="contenedor">
      <div class="h4"><h4>Incio</h4></div>
      <div class="contenido">
        <h1>Indicaciones de Juego</h1>
        <p>
          Para iniciar el juego debes estar registrado, incluso los jugadores
        </p>
        <button type="button" (click)="newGame()">Crear Juego</button>
      </div>
      <div class="h4"><h4>Invita a tus amigos</h4></div>
    </div>
    <button (click)="gameList()">Consultar Juegos Creados</button>
  </div>
</div>
